---
import Badge from '../../components/badge/Badge.astro';
import './HomeStyle.css';
---

<section class="section-home">
  
    <h1>
      Hi, I'm William Toro 
      <div class="badge-home">
        <Badge>
          Available to Work
        </Badge>
      </div>
    </h1>
  
  <p>
      <strong>
        +4 years of experience.
        <br/> 
        Web developer | Desktop applications | Pentester.
        <br/>
      </strong>
      <div class="text-info">
        From medellin colombia. Committed to creating automated applications, dynamic websites, and interactive web pages.
      </div>
  </p>
</section>