---
import Layout from '../layouts/Layout.astro';
import Home from '../sections/home/Home.astro';
import './index.css';
---

<Layout title="Welcome to Astro.">
	<main class="main-style">
		<Home />
	</main>
</Layout>
