.mian-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 100%;
  margin: 0;
  padding: 0;
}

#section-home {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

#section-home h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex; 
  flex-direction: row;
}

#section-home h1 div {
  margin-inline-start: 5px;
  display: flex;
  align-items: center;
}

@media only screen and (min-inline-size: 740px) {
  #section-home h1 {
    display: flex;
    flex-direction: column;
  }
}