.header-style {  
  inline-size: 100%;
  padding-block-start: 0.75rem; 
  padding-block-end: 0.75rem;
  z-index: 1;

  background-color: #050b01; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
}

.items-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10%;
  inline-size: 80%;
}

.profil-photo {
  border-radius: 50%; 
  block-size: 70px; 
  inline-size: 70px;
}

.nav-style {
  display: flex;
  flex-direction: row;
  margin-inline-end: 10px;
  gap: 25px;
}

a {
  text-decoration: none;
  color: white; 
  opacity: 50%;
}

a:hover {
  opacity: 90%;
}

@media only screen and (max-width : 600px) {

  .items-nav {
    padding: 0;
    inline-size: 100%;
  }
}
