.header-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 0.75rem; 
  padding-block-end: 0.75rem; 
  inline-size: 1120px;
}

.profil-photo {
  border-radius: 50%; 
  block-size: 70px; 
  inline-size: 70px;
}

.nav-style {
  display: flex;
  flex-direction: row;
  margin-inline-end: 10px;
  gap: 25px;
}

a {
  text-decoration: none;
  color: white; 
  opacity: 50%;
}

a:hover {
  opacity: 90%;
}
