---
import './HeaderStyle.css'
---

<header class="header-style">
	<img 
	class="profil-photo"
		src="https://media.licdn.com/dms/image/D4E35AQE5dD5uD5NRbw/profile-framedphoto-shrink_200_200/0/1699386833710?e=1707868800&v=beta&t=uJvNoanVhhnRuqvsm1DNqzBF_FjLKkQmYm5N2s0I3TA" 
		alt="William photo"
		/>

	<nav class="nav-style">
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/projects">Projects</a>
		<a href="/contact">Contact</a>
	</nav>
</header>
